<link rel="stylesheet" href="/styles/nav.css" type="text/css" />

<nav id="nav-bar">
 <!--  <img class="logo" src="/images/bird.png">
  <span class="header">Tweeter</span>
  <button id="compose-btn">Compose</button> -->
</nav>