<!DOCTYPE html>
<html lang="en">
  <% include ../views/partials/_head %>

  <body>
    <% include ../views/partials/_header %>

    <div class='container'>
      <div class = 'row opponent cards'>
        <% for (i = 0; i < matchData.opponent_cards; i++) { %>
          <% include ../views/partials/_blank_card %>
        <% } %>
      </div>

      <div class='row play-area'>
        <div class='activePlayer-score col-sm-3'>
          <h2>YOU</h2>
          <%= matchData.activePlayer_score %>
        </div>

        <div class='deck cards col-sm-6'>
            <% var deckSuits = matchData.deck_cards; %>
            <% for (suit in deckSuits) { %>
              <% var currSuit = deckSuits[suit]; %>
              <% for (card in currSuit) { %>
                <% include ../views/partials/_card %>
              <% } %>
            <% } %>
        </div>

        <div class='opponent-score col-sm-3'>
          <h2>THEM</h2>
          <%= matchData.opponent_score %>
        </div>
      </div>

      <div class = 'row activePlayer cards'>
        <% var activeSuits = matchData.activePlayer_cards; %>
        <% for (suit in activeSuits) { %>
          <% var currSuit = activeSuits[suit]; %>
          <% for (card in currSuit) { %>
            <% include ../views/partials/_card %>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>

  <% include ../views/partials/_footer %>
</html>
