<!DOCTYPE html>
<html lang="en">
  <% include ../views/partials/_head %>

  <body>
    <% include ../views/partials/_header %>

    <section class='opponent cards row'>
      <% for (i = 0; i < matchData.opponent_cards; i++) { %>
        <% include ../views/partials/_blank_card %>
      <% } %>
    </section>

    <section class='deck cards row'>
        <% var deckSuits = matchData.deck_cards; %>
        <% for (suit in deckSuits) { %>
          <% var currSuit = deckSuits[suit]; %>
          <% for (card in currSuit) { %>
            <% include ../views/partials/_card %>
          <% } %>
        <% } %>
    </section>

    <section class='activePlayer cards row'>
      <% var activeSuits = matchData.activePlayer_cards; %>
      <% for (suit in activeSuits) { %>
        <% var currSuit = activeSuits[suit]; %>
        <% for (card in currSuit) { %>
          <% include ../views/partials/_card %>
        <% } %>
      <% } %>
    </section>

  </body>

  <% include ../views/partials/_footer %>
</html>
