<!DOCTYPE html>
<html lang="en">
<head>
  <% const player_id = my_id %>
  <% include ../views/partials/_head %>
  <% /*include ../views/partials/_header*/ %>
</head>

  <body class="bump-down">


    <div class='container'>
      <div class = 'row opponent cards'>


        <% for (i = 0; i < matchData.opponent_cards; i++) { %>
          <% include ../views/partials/_blank_card %>
        <% } %>
      </div>

      <div class='row play-area'>
        <div class='activePlayer-score col-sm-3'>
          <h2>YOU</h2>
          <%= matchData.activePlayer_score %>
        </div>

        <div class='myMove cards col-sm-2'>
        </div>

        <div class='deck cards col-sm-2'>
          <% for (suit in matchData.deck_cards) { %>
            <% var cardNum = matchData.deck_cards[suit]; %>
            <% include ../views/partials/_card %>
          <% } %>
        </div>

        <div class='theirMove cards col-sm-2'>
        </div>

        <div class='opponent-score col-sm-3'>
          <h2>THEM</h2>
          <%= matchData.opponent_score %>
        </div>
      </div>

      <div class = 'row activePlayer cards'>
        <% var activeSuits = matchData.activePlayer_cards; %>
        <% for (suit in activeSuits) { %>
          <% var currSuit = activeSuits[suit]; %>
          <% for (card in currSuit) { %>
            <% var cardNum = currSuit[card]; %>
            <% include ../views/partials/_card %>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>

  <% include ../views/partials/_footer %>
</html>
