<!DOCTYPE html>
<html lang="en">
  <head>
    <% const player_id = my_id %>
    <% include ../views/partials/_head %>
    <% include ../views/partials/_header %>
  </head>

  <body>

    <h1>Hello World!</h1>
  </body>
