<!DOCTYPE html>
<html lang="en">

  <% const player_id = my_id %>
  <% include ../views/partials/_head %>

  <body>
    <% include ../views/partials/_header %>

    <h1>Please login! ;)</h1>
  </body>
