<!DOCTYPE html>
<html lang="en">
  <% include ../views/partials/_head %>

  <body>
    <% include ../views/partials/_header %>

    <h1><%= user.username %></h1>

    <% for (match in archivedMatches) { %>
      <% var currMatch = archivedMatches[match]; %>
      <% if (currMatch.winner_id === user.id) { %>
        <% outcome = 'W'; %>
      <% } else { %>
       <% outcome = 'L'; %>
      <% } %>
      <%= outcome %> VS. OPPONENT --- <%= currMatch.winner_score %> - <%= currMatch.loser_score %>
    <% } %>
  </body>

  <% include ../views/partials/_footer %>
</html>
