@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.play-area {
  width: 100%;
  overflow: visible;
  margin: 50px auto;
}
