@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background-color: #98AA80;
  color:  #351330;
  h1 {
    color: #244751;
    /*color: #E8CAA4;*/
  }
}

.bump-down {
    margin-top: 100px;
  }

.play-area {
  margin: 100px;
}


#matches {
  margin: 40px;
}

#seeking {
  margin: 40px;
}

.panel-group {
}

.jumbotron {
  margin: 10px;
  padding: 20px;
  width: 300px;
  float: left;
}
