@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

section.cards {
  margin: 25px;
}

section.activePlayer.cards {
  position: fixed;
  bottom: 0
}

section.opponent.cards {
  position: fixed;
  top: 0
}
