$primary-color: #CC2A41;
$header-color: #CC2A41;

.navbar {
  background-color: $primary-color;
  color: #fff;
  border-bottom: 2px solid #351330;
  z-index: 999;
  h1 {
    color: white;
  }
  form {
    padding: 10px;
  }
}
